@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Razor CRUD Individual Assignment</h1>

</div>
<div class="card">
    <div class="col-sm-12" style="padding:20px">
        <a onclick="jQueryModalGet('?handler=CreateOrEdit','Create Customer')" class="btn btn-outline-success">
            Create
        </a>
        <a id="reload" class="btn btn-outline-warning">
            Reload
        </a>
    </div>
    <div id="viewAll" class="card-body table-responsive"></div>
</div>

@section Scripts
{

    <script>
            function displayAltert(){
                Swal.fire(
                    'Good job!',
                    'You are Success!',
                    'success'
                )
            }
        $(document).ready(function () {
            $('#viewAll').load('?handler=ViewAllPartial');

        });
        $(function () {
            $('#reload').on('click', function () {
                $('#viewAll').load('?handler=ViewAllPartial');
            });
        });
    </script>
}
